* {
  vertical-align: baseline;
  font-weight: inherit;
  font-family: inherit;
  font-style: inherit;
  font-size: 100%;
  border: 0 none;
  outline: 0;
  padding: 0;
  margin: 0;
}
@import 'node_modules/bulma/sass/utilities/_all.sass';
@import 'node_modules/bulma/sass/layout/_all.sass';
@import 'node_modules/bulma/sass/grid/_all.sass';
@import 'node_modules/bulma/sass/base/_all.sass';
@import 'node_modules/bulma/sass/components/navbar.sass';
@import 'node_modules/bulma/sass/elements/container.sass';

$black: #333;
$gray-dark: #616161;
$gray-light: #e0e0e0;
$gray-lighter: #f9f9f9;
$white: #fff;
$primary: #ff8e01;

$base-step: 8px;

body {
  font-family: 'SF UI Text';
  display: flex;
  color: $black;
  flex-direction: column;
  background: $gray-lighter;
  overflow: hidden;
}

h1 {
  font-size: 64px;
  line-height: 1.1;
  font-weight: 900;
  font-family: 'SF UI Display';
}

h2 {
  font-size: 36px;
  line-height: 1.2;
  font-weight: 900;
  text-transform: uppercase;
  font-family: 'SF UI Display';
  @media screen and (max-width: 650px) {
    font-size: 28px;
  }
}

h3 {
  font-size: 24px;
  line-height: 1.2;
  font-weight: bold;
  font-family: 'SF UI Display';
  @media screen and (max-width: 650px) {
    font-size: 20px;
  }
}

h4 {
  font-size: 18px;
  line-height: 1.5;
  font-weight: bold;
  font-family: 'SF UI Display';
}

h5 {
  font-size: 16px;
  line-height: 1.4;
  font-weight: bold;
}

.white-bg {
  background: #fff;
}

.subtitle {
  font-size: 24px;
  line-height: 1.5;
  font-weight: normal;
}

.bold-text {
  font-size: 18px;
  font-weight: 600;
  font-family: 'SF UI Display';
}

.body-text {
  font-size: 18px;
  line-height: 1.5;
  font-weight: normal;
  color: $gray-dark;
}

.table-text {
  font-size: 16px;
  line-height: 1.5;
  font-weight: normal;
  color: $gray-dark;
}

.small-text {
  font-size: 14px;
  line-height: 1.5;
  font-weight: normal;
}

.tiny-text {
  font-size: 12px;
  line-height: 1.5;
  font-weight: normal;
}

.m-one {
  margin-bottom: $base-step;
}

.m-two {
  margin-bottom: $base-step * 2;
}

.m-three {
  margin-bottom: $base-step * 3;
}

.m-four {
  margin-bottom: $base-step * 4;
}

.m-five {
  margin-bottom: $base-step * 5;
}

.m-eight {
  margin-bottom: $base-step * 8;
}

.m-ten {
  margin-bottom: $base-step * 10;
}

.shadowtext {
  text-shadow: 8px 8px 0 $primary;
}

.w-100 {
  width: 100%;
}

.w-50 {
  width: -webkit-calc(50% - 8px);
  width: -moz-calc(50% - 8px);
  width: calc(50% - 8px);
}

.w-25 {
  width: 25%;
}

.w-20 {
  width: 20%;
}

.button {
  font-size: 16px;
  line-height: $base-step * 5;
  background-color: $primary;
  padding: 0 $base-step * 3;
  border-radius: 4px;
  cursor: pointer;

  &:hover {
    background: $primary;
  }
}

.button.is-big {
  font-size: 18px;
  line-height: $base-step * 6;
  padding: 0 $base-step * 4;
}

.button.is-small {
  font-size: 14px;
  line-height: $base-step * 4;
  padding: 0 $base-step * 2;
}

.button.is-outlined {
  background-color: #fff;
  border: 1px solid $gray-light;
  transition: 0.2s ease-in-out;

  &:hover {
    border: 1px solid $black;
  }
}

.button.is-inverted {
  background-color: $primary;
  color: $gray-light;

  &:hover {
    background-color: $primary;
  }
}

.button.is-clean {
  background-color: #fff;
  color: $primary;

  &:hover {
    color: $primary;
  }
}

.has-text-right {
  text-align: right;
}
.has-text-left {
  text-align: left;
}
.has-text-center {
  text-align: center;
}

.middle {
  align-items: center;
}
.form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.control {
  position: relative;
}

.input-label {
  font-size: 14px;
  color: $gray-dark;
  position: absolute;
  top: 19px;
  left: $base-step * 2;
  transition: all 0.2s ease-out;
  line-height: 1;
  z-index: -1;
}

.input-text {
  border: 1px solid $gray-dark;
  border-radius: 4px;
  padding: $base-step * 3 $base-step * 2 $base-step * 1;
  font-size: 16px;
  line-height: 16px;
  box-sizing: border-box;
  width: 100%;
  z-index: 1;
  background: none;
}

.input-text:focus + .input-label,
.input-text:valid + .input-label {
  font-size: 10px;
  color: $gray-dark;
  top: $base-step;
}

.input-text.valid {
  border: 1px solid $primary;
}

.input-text:focus {
  border: 1px solid $gray-dark;
  box-shadow: 0 4px 6px hsla(0, 0%, 0%, 0.1);
}

.select {
  background-color: #fff;
  border: 1px solid $gray-light;
  height: 54px;
  width: 202px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding-left: $base-step * 2;
  background: url(assets/icons/sort-down-solid.svg) no-repeat;
  background-position-x: 90%;
  background-position-y: 40%;
  background-size: 24px 24px;
}

select::-ms-expand {
  display: none;
}

.content {
  padding: $base-step * 3;
}

.flex {
  display: flex;
}

.space-between {
  justify-content: space-between;
}

.flex-wrap {
  flex-wrap: wrap;
}

.align-center {
  align-items: center;
}

.align-start {
  align-items: flex-start;
}

.columns {
  margin-top: 0;
  margin-bottom: 0;
}

.navbar {
  position: relative;
}
.navbar:before {
  content: '';
  position: absolute;
  height: 1px;
  width: calc(999px + 100vw);
  background-color: rgb(244, 244, 244);
  bottom: 0;
  left: -999px;
}
.navbar-menu {
  justify-content: space-between;
  margin-right: 0 !important;

  .navbar-item {
    border: 1px solid rgb(244, 244, 244);
    border-right: none;
    border-bottom: none;
    flex-grow: 1;
    justify-content: center;

    &:hover {
      box-shadow: 0 4px 12px 0 rgba(38, 39, 39, 0.14);
      background: none;

      .contacts__info {
        color: $primary;
      }
    }
  }
  .navbar-item:last-of-type {
    border-right: 1px solid rgb(244, 244, 244);
  }
}
.navbar-brand {
  align-items: center;

  span {
    height: 2px;
    color: $primary;
  }
  img {
    height: 100px;
    max-height: 100%;

    @media screen and (max-width: 650px) {
      height: 60px;
      width: auto;
    }
  }
}

.section.heroic {
  background-image: url('assets/image/hero.jpg');
  background-repeat: repeat;
  background-position: center;
  background-size: cover;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.8);
  color: $white;
  padding: $base-step * 10 $base-step * 3;
  .subtitle {
    color: $primary;
    text-transform: uppercase;
    font-weight: bold;
    @media screen and (max-width: 650px) {
      font-size: 14px;
    }
  }
  h1 {
    @media screen and (max-width: 650px) {
      font-size: 28px;
      margin-top: 16px;
      margin-bottom: $base-step * 4;
    }
  }
  .icon {
    display: flex;
    align-items: center;

    span {
      margin-left: $base-step;
      font-size: 18px;
    }
  }
}

.line {
  height: 4px;
  width: 80px;
  background: $primary;
}

.important-text {
  color: $primary;
  font-weight: bold;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 4px;
  padding: $base-step * 3;
  min-height: 250px;
  background: $white;
  box-shadow: 0 0 25px 0 rgba(36, 39, 41, 0.1);
  height: 100%;

  @media screen and (max-width: 769px) {
    padding: $base-step * 2;
  }
}

.hoverable:hover {
  color: $white;
  background-color: $primary;
  i {
    color: $white;
  }
}

.navigation {
  background: #fff;
}

.logo-text {
  max-width: 162px;
  font-size: 13px;
  line-height: 16px;
  color: #333333;
  border-left: 1px solid #ff8f00;
  padding-left: 16px;
  margin-left: -8px;
}

.navbar-custom-link {
  font-size: 14px;
  text-transform: uppercase;
  line-height: 54px;
  color: $black;
  font-weight: bold;
  border: 1px solid rgb(244, 244, 244);
  flex-grow: 1;
  text-align: center;
  border-right: none;
  border-top: none;

  &:hover {
    color: $primary;
    box-shadow: 0 4px 12px 0 rgba(38, 39, 39, 0.08);
  }
}

.navbar-custom-link:last-of-type {
  border-right: 1px solid rgb(244, 244, 244);
}

.about {
  .technology {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    min-height: 384px;
  }
  .advantages {
    background: $white;
    padding: $base-step * 4 $base-step * 6;
    box-shadow: 0 0 25px 0 rgba(36, 39, 41, 0.1);

    @media screen and (max-width: 650px) {
      padding: $base-step * 2;
    }
    .single-advantage {
      display: flex;
      align-items: center;
      position: relative;
      .advantage-count {
        font-size: 28px;
        color: $primary;
        border: 2px solid $primary;
        border-radius: 50%;
        height: 40px;
        min-width: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: $base-step * 2;
        @media screen and (max-width: 650px) {
          margin-right: $base-step * 2;
        }
      }

      .line {
        position: absolute;
        bottom: 0;
        left: 56px;
        width: 40px;
      }
    }
  }

  i {
    font-size: 46px;
    color: $primary;
  }
  .patent {
    display: flex;
    justify-content: center;
    padding: $base-step * 8 0 0;

    @media screen and (max-width: 650px) {
      flex-direction: column;
      padding-top: $base-step * 2;
    }

    .content {
      max-width: 640px;
      margin-left: $base-step * 4;

      @media screen and (max-width: 650px) {
        margin-left: 0;
        text-align: center;
        padding: $base-step * 2;
      }
    }
  }
}

.types {
  h3 + .columns {
    margin-bottom: $base-step * 4 !important;
  }
  i {
    font-size: 180px;
  }
  .card {
    height: 100%;
  }
}

.parametrs {
  background: $white;
  .container {
    display: flex;
    flex-direction: column;
    .circle {
      height: 10px;
      min-width: 10px;
      margin: $base-step $base-step * 2 0 0;
      background: $primary;
      border-radius: 50%;
    }
    .parametr {
      display: flex;
    }
    .button {
      margin: 0 auto;
    }
  }
}
.solutions {
  .solutions-box {
    display: flex;
    align-items: center;

    @media screen and (max-width: 767px) {
      flex-direction: column;
    }
  }
  .solution-radio {
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 25px 0 rgba(36, 39, 41, 0.1);
    max-width: 500px;

    @media screen and (max-width: 767px) {
      flex-direction: row;
    }

    input[type='radio'] {
      display: none;
    }
    label {
      display: inline-block;
      padding: $base-step * 4 $base-step * 7;
      font-size: 24px;
      font-weight: bold;
      color: $gray-dark;
      background-color: $gray-lighter;
      position: relative;

      @media screen and (max-width: 769px) {
        padding: $base-step * 2;
        font-size: 18px;
      }
      @media screen and (max-width: 767px) {
        font-size: 16px;
        text-align: center;
      }
    }
    input[type='radio']:checked + label {
      color: $black;
      background-color: $white;
    }
    input[type='radio']:checked + label::after {
      content: '';
      width: 100px;
      height: 2px;
      background: $primary;
      position: absolute;
      right: -124px;
    }
  }
  .solution-image {
    margin-left: 160px;
    font-size: 300px;
    line-height: 300px;

    @media screen and (max-width: 767px) {
      margin-left: 0;
    }
  }
}

.structure {
  &__title {
    font-size: 24px;
    line-height: 27px;
    color: #333333;
    text-align: center;
    font-weight: 700;
    margin-bottom: 50px;
  }

  &__img {
    margin: 0 auto;
    display: block;
    margin-bottom: 130px;

    @media screen and (max-width: 768px) {
      margin-bottom: 70px;
    }
  }
}

.portfolio {
  &__item {
    border: 1px solid $gray-light;
    border-radius: 4px;
    background: $white;
    margin: 0 1px;
    transition: 0.2s ease-in-out;

    &:hover {
      box-shadow: 0px 5px 15px rgba(84, 110, 136, 0.2);
    }
  }

  &__text {
    height: 100px;
    font-size: 18px;
    text-align: center;
    color: #333333;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    padding: $base-step;
  }

  &__all {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #616161;
    font-size: 18px;
    text-align: center;
    color: #333333;
    border-radius: 4px;
    width: 224px;
    height: 64px;
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 1;

    @media screen and (max-width: 460px) {
      position: static;
      margin: 20px auto 0;
    }
  }

  .owl-stage-outer {
    padding-bottom: $base-step * 2;
  }
}

.contacts {
  background: #fff;
  &__text {
    max-width: 351px;
    font-size: 18px;
    line-height: 32px;
    color: #333333;
  }

  &__info {
    font-size: 17px;
    color: #333333;
    font-weight: 500;
    &--white {
      color: #fff;
    }
  }

  &__info-text {
    font-size: 13px;
    color: #616161;
    &--white {
      color: #fff;
    }
  }

  &__phone-i {
    margin-right: 15px;
  }

  &__place {
    max-width: 318px;
    font-size: 17px;
    line-height: 18px;
    color: #333333;
  }
}

.feedback {
  max-width: 709px;
  box-shadow: 0px 5px 15px rgba(84, 110, 136, 0.2);
  padding: 30px 65px;
  margin: 0 auto;
  background: #fff;
  @media screen and (max-width: 640px) {
    padding: 30px 25px;
  }
  &__title {
    max-width: 413px;
    font-size: 24px;
    line-height: 27px;
    text-align: center;
    color: #333333;
    font-weight: bold;
    margin: 0 auto 45px;
  }

  &__input {
    height: 44px;
    border: 1px solid #e0e0e0;
    border-radius: 4px;
    width: 100%;
    padding: 0 8px;
  }

  &__input-title {
    font-size: 17px;
    color: #616161;
    margin-bottom: 2px;
  }

  &__textarea {
    border: 1px solid #e0e0e0;
    border-radius: 4px;
    resize: none;
    height: 132px;
    width: 100%;
    padding: $base-step;
  }

  &__btn {
    background: #ff8e01;
    max-width: 247px;
    width: 100%;
    height: 64px;
    font-size: 18px;
    color: #f9f9f9;
    display: block;
    margin: 0 auto;
  }

  &__mob-view {
    @media screen and (max-width: 640px) {
      display: block;
    }
  }
}

.footer-main {
  background: #072039;
  display: flex;
  color: $white;
  padding: $base-step * 3;
  @media screen and (max-width: 650px) {
    flex-direction: column-reverse;
  }

  &__title {
    font-size: 24px;
    font-weight: bold;
    color: $primary;
    line-height: 110%;
  }

  &__link {
    font-size: 14px;
    font-weight: bold;
    color: #ffffff;

    &:hover {
      color: $primary;
    }
  }

  &__item {
    margin-bottom: 17px;
  }

  &__copy {
    font-size: 14px;
    margin-bottom: 7px;
  }

  &__reserved {
    font-size: 14px;
    line-height: 18px;
    margin-right: 40px;
  }

  &__phones-wrap {
    margin-right: 30px;
  }

  &__contacts-wrap {
    @media screen and (max-width: 930px) {
      display: block;
    }
  }
}

@media screen and (min-width: 1216px) {
  .container {
    max-width: 1200px;
  }
}

// owl-carousel bug?

.owl-nav.disabled {
  display: block !important;
}

// owl-carousel bug?

.owl-nav {
  margin-top: 40px;
  @media screen and (max-width: 460px) {
    text-align: center;
  }
}

.owl-dots {
  display: none;
}

.owl-prev,
.owl-next {
  position: relative;
  background: #ffffff;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.15);
  height: 64px;
  width: 64px;
  margin-right: 13px;
  font-size: 0 !important;
}

.owl-prev:after {
  content: '';
  border-style: solid;
  border-width: 10px 10px 10px 0;
  border-color: transparent #000333 transparent transparent;
}

.owl-next:after {
  content: '';
  border-style: solid;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent #000333;
}
